.branding {
	top: 22px;
	left: 56px;
	z-index: 1000;
	position: absolute;
	font-size: 1.5rem;
	letter-spacing: 1.5px;
	color: rgb(0, 148, 185);
}

.depth {
	z-index: 5;
}

.spacer {
	height: 44px;
}

@media (min-width: 540px) {
	.flexify {
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
	}

	.flex-child {
		flex: 1;
		flex-basis: 100%;
	}
}

@media (min-width: 540px) {
	.flexify {
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
	}

	.flex-child {
		flex: 1;
		flex-basis: 50%;
	}
}

@media (min-width: 1040px) {
	.flexify {
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
	}

	.flex-child {
		flex: 1;
		flex-basis: 33.3333%;
	}
}

@media (min-width: 1540px) {
	.flexify {
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
	}

	.flex-child {
		flex: 1;
		flex-basis: 25%;
	}
}

@media (min-width: 2040px) {
	.flexify {
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
	}

	.flex-child {
		flex: 1;
		flex-basis: 20%;
	}
}

@media (min-width: 2540px) {
	.flexify {
		display: flex;
		flex-wrap: wrap;
		justify-content:center;
		align-items: stretch;
	}

	.flex-child {
		flex: 1;
		flex-basis: 16.66%;
	}
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button:focus {outline:0;}

#left-col {
  position: fixed;
  left: -230px;
  top:0;
  bottom:0;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #222;
  width: 260px;
	z-index:1000;
	transition-duration: .5s;
	transition-timing-function: ease;
}

#left-col:hover {
  left: 0px;
	transition-duration: .35s;
	transition-timing-function: ease;
}

.bar-wrap {
  padding: 2rem;
}
#right-col {
  margin-left: 30px;
}

.movie-overlay-info {
	position: absolute;
	width: 86%;
	
}

.movie-overlay-info h3 {

	color: #fff;
	font-weight: bold;
	text-shadow: .5px 1px 6px rgba(0,0,0, .35);
}


.pointer:hover {
	cursor: pointer;
	color: #222;
	transition-duration: .2s;

}


.release-date {
	color: #ddd;
}

.rel {
	position: relative;
	overflow: hidden; 
	
}


.movie-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.movie-overlay:hover {
	background: rgba(1, 106, 132, 1.0);
background: -webkit-linear-gradient(top left, rgba(1, 106, 132, 1.0), rgba(0, 161, 201, 0.8));
background: -moz-linear-gradient(top left, rgba(1, 106, 132, 1.0), rgba(0, 161, 201, 0.8));
background: linear-gradient(top left, rgb(0, 76, 95), rgba(0, 161, 201, 0.8));
	padding: 2rem;
	opacity: 1;
}

.movie-overlay-info .overview {
	color: #fff;
}

.bold {
	font-weight: bold;
}

.rent-buy-container {
	text-align: center;
}

.rent-buy-btn {
	padding:6px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: rgba(0,0,0,.095);
	border: solid 2px #fff;
	border-radius: 6px;
	color: #fff;
	font-size: 1.15em;
}


.rent-buy-btn:hover {
	background-color: rgba(0,0,0,.475);
	transition: .75s;
}

#login-line {
  width: 100%;
  margin: 2rem;
}

input[name="size"]{
  width: 50%;
}

.login-box {
  display: flex;
  justify-content: center;
  align-items: center;
}
